.card {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}
.card__item {
    border: 1px solid darkgrey;
    border-radius: 6px;
    color: #5e5959;
}

.btn_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn_item {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.btn_item:hover {
    color: crimson;
}
.searchInp {
    font-size: 20px;
}
